.vehicle-form {
  min-width: 50px;
  max-width: 300px;
  width: 100%;
}

.vehicle-full-width {
  width: 100%;
}

.vehicle-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.vehicle-margin {
  margin: 0 10px;
}
